$font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$primary-color: #1a1a1a;
$secondary-color: #2a2a2a; // This was missing a semicolon
$accent-color: #297bb3;
$button-hover-color: #333;
$link-color: #4ea0d5;

body {
  font-family: $font-stack;
  background-color: $primary-color;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  background-color: $secondary-color;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

label {
  display: block;
  margin-bottom: 15px;
  color: #fff;
  font-size: 16px;
}

input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #000;
  border-radius: 8px;
  font-family: $font-stack;
  box-sizing: border-box;
  color: #fff;
  background-color: #333;
  outline: none;
}

input:focus {
  border-color: $accent-color;
}

input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 8px;
  font-family: $font-stack;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: $button-hover-color;
}

.signup-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.signup-link a {
  color: $link-color;
  text-decoration: none;
  font-weight: bold;
}

.signup-link a:hover {
  text-decoration: underline;
}

.centered-text {
  text-align: left;
  padding-top: 5px;
  margin-left: 170px; // Adjust the margin as needed
}

.centered-image {
  text-align: center;
  margin-top: 20px;
}
